{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ user.email }}" required><br>
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}
