{% extends 'base.html' %}

{% block title %}User Management{% endblock %}

{% block content %}
    <h1>User Management</h1>
    <div class="user-list">
        <ul>
            {% for user in users %}
                <li>
                    {{ user.username }} - {{ user.email }} - {{ user.first_name }} {{ user.last_name }}
                    <a href="{% url 'edit_user' user.id %}">Edit</a> | <a href="{% url 'delete_user' user.id %}">Delete</a>
                </li>
            {% empty %}
                <li>No users available.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
